<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#" data-page="landing">🌐 Mi App</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item"><a class="nav-link" href="#" data-page="landing">Inicio</a></li>
        <li class="nav-item"><a class="nav-link" href="#" data-page="recipes">Recetas</a></li>
        <li class="nav-item"><a class="nav-link" href="#" data-page="carts">Carritos</a></li>
        <li class="nav-item">
          <a class="nav-link" href="#" data-page="params" data-params='{"usuario":"Omar","perfil":{"rol":"educador","nivel":"experto"}}'>Probar Parámetros</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
